<h1>Форма-анкета Фронт-Энд разработчика</h1>
<form [formGroup]="completedForm" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="fill">
    <mat-label>Имя</mat-label>
    <input matInput formControlName="firstName">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Фамилия</mat-label>
    <input matInput formControlName="lastName">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Дата рождения</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="dateOfBirth">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Выберите JS технологию</mat-label>
    <mat-select [(ngModel)]="selectedJSTech" formControlName="framework">
      <mat-option *ngFor="let jsTech of jsTechs" [value]="jsTech.value">
        {{jsTech.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill" [ngSwitch]="selectedJSTech">
    <mat-label>Выберите версию</mat-label>
    <mat-select *ngSwitchCase="'angular'" formControlName="frameworkVersion">
      <mat-option *ngFor="let jsAngular of jsAngulars" [value]="jsAngular.value">
        {{jsAngular.viewValue}}
      </mat-option>
    </mat-select>
    <mat-select *ngSwitchCase="'react'" formControlName="frameworkVersion">
      <mat-option *ngFor="let jsReact of jsReacts" [value]="jsReact.value">
        {{jsReact.viewValue}}
      </mat-option>
    </mat-select>
    <mat-select *ngSwitchCase="'vue'" formControlName="frameworkVersion">
      <mat-option *ngFor="let jsVue of jsVues" [value]="jsVue.value">
        {{jsVue.viewValue}}
      </mat-option>
    </mat-select>
    <mat-select *ngSwitchDefault="" disabled>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>email</mat-label>
    <input matInput formControlName="email">
  </mat-form-field>
  <button mat-raised-button type="submit" color="primary">Подтвердить</button>
</form>
