@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  text-align: center;
  margin: 20px;
}

form {
  display: flex;
  width: 50%;
  margin: 10px auto;
  flex-direction: column;
  align-items: center;
  border: 3px gray solid;
  border-radius: 5px;
  padding: 15px 0 15px 0;

  mat-form-field {
    width: 90%;
  }
}
